@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
* {
  margin: 0;
}

body {
  display: grid;
  margin: 0;
  height: 100%;
  background-color: hsl(212, 45%, 89%);
  min-height: 100vh;
  font-family: "Outfit", sans-serif;
  place-items: center;
}

.container {
  margin: 1.075rem;
  padding: 1.075rem;
  max-width: 320px;
  height: 500px;
  box-shadow: 0 1rem 1rem hsla(0, 0%, 0%, 0.5);
  border: 1px solid white;
  text-align: center;
  border-radius: 10px;
  background-color: white;
}

img {
  margin: auto;
  max-width: 100%;
  width: 288px;
  height: 288px;
  border-radius: 10px;
}

h1 {
  font-size: 25px;
  font-weight: 700;
  line-height: 1.5rem;
  margin-top: 20px;
  margin-bottom: 20px;
}
p {
  font-size: 15px;
  font-weight: 500;
  line-height: 1rem;
  color: hsl(216 15% 48%);
}
